<div id = "container" style="background-color:black">
    <p style="color:white;">DIY Garage-rock band from Montreal, Canada</p>
    <p> Prime Sinadad is Vincent and Samuel.
    <style>
  .floating-box {
    display: inline-block;
    width: 33%;
    height: 20%;
    color: white;
    text-align: center;
  }
  .photo {
    width: 300%;
    height: auto;
  }
</style>
<div class="floating-box"><%= image_tag("bandpic.png", :class => "photo") %></div>

    




