// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url("garage_background");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;

  .container {
    padding: 10px;
    background-color: #333;

    h1, h2, h3, h4 {
      margin-left: 20px;
    }

    #listen .card-body {
      background-color: #000;
    }

    #listen iframe {
      height: 100%;
      width: 100%;
      max-width: 250px;
    }
  }
}

.navbar {
  color: #fff;
  text-decoration: none;

  a.navbar-brand,
  a.nav-link {
      text-decoration: none;
      color: #fff;
  }
}

.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.85);
}

.panel {
  background-color: rgba(0, 0, 0, 0.35);
  color: #ccc;
  margin-bottom: 30px;

  .panel-header {
    padding: 0.75rem 1.25rem 0 1.25rem;
    margin-bottom: 0;

    h3 {
      margin: 0;
    }
  }
  .panel-body {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;

    .card {
      flex-flow: column wrap;
      border: 1px solid #222;
      margin: 0 5px;
      border-radius: 0;

      .card-body {
        padding: 5px;
      }

      .card-header,
      .card-footer {
        background-color: #333!important;
        border: 0;
        text-align: center;
        border-radius: 0;

        a {
          text-decoration: none;
          color: #fff!important;
        }
      }
    }
  }
  .panel-footer {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
  }
}

.albums {
  font-family:'Black Ops One', cursive;
}
