// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color-card:          #333;
$text-color:          #fff;
$panel-text-color:    #ccc;

$color-header:        rgba(0, 0, 0, 0.85);
$color-container:     rgba(50,50,50,0.98);
$color-panel:         rgba(0, 0, 0, 0.35);
$color-panel-footer:  rgba(0, 0, 0, 0.9);

$panel-header-padding:1rem 1.25rem;
$panel-padding:       0.5rem 1.25rem 2rem 1.25rem;
$image-height:        250px;
$video-size:          200px;

body {
  background-image: url("garage_background");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: $text-color;

  header {
    background-color: $color-header;
  }

  .navbar,
  a.navbar-brand,
  a.nav-link {
      text-decoration: none;
      color: $text-color;
  }

  .navbar-transparent {
    background-color: $color-header;
  }

  .container {
    padding: 10px;
    background-color: $color-container;

    .top-panel {
      display: block;
      text-align: center;
      padding: $panel-header-padding;
    }

    h1, h2, h3, h4 {
      margin-left: 20px;
      text-align: center;
    }

    #listen .card-body {
      height: $video-size;
      max-height: $video-size;
    }

    #listen iframe {
      height: 100%;
      width: 100%;
    }
  }

  .photo {

  }
}

.panel {
  background-color: $color-panel;
  color: $panel-text-color;
  margin-bottom: 30px;

  .panel-header {
    padding: $panel-header-padding;
    margin-bottom: 0;

    h3 {
      margin: 0;
    }
  }

  .panel-body {
    display: flex;
    justify-content: space-between;
    padding: $panel-padding;
  }

  .panel-footer {
    padding: $panel-header-padding;
    background-color: $color-panel-footer;
    text-align: center;
  }
}

.card {
  flex-flow: column wrap;
  border: 1px solid #222;
  margin: 0 5px;
  border-radius: 0;
  max-width: 400px;
  background-color: $color-card;

  .card-header {
    background-color: $color-card;
    border: 0;
    text-align: center;
    border-radius: 0;
    height: 50px;
    width: 100%;
  }

  .card-body {
    padding: 5px;

    .card-img-top {
      height: $image-height;
      max-height: $image-height;
    }
  }

  .card-footer {
    background-color: $color-card;
    border: 0;
    text-align: center;
    border-radius: 0;
    width: 100%;

    a {
      text-decoration: none;
      color: $text-color!important;
    }
  }
}

.albums {
  font-family:'Black Ops One', cursive;
}
