<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prime Sinadad</title>
  <%= stylesheet_link_tag     :application %>
  <%= javascript_include_tag  :application %>
</head>
<body>
  <%= yield %>
</body>
</html>
